[submodule "VideoCrafter/VBench"]
	path = VideoCrafter/VBench
	url = https://github.com/Vchitect/VBench.git
[submodule "VideoCrafter/uvq"]
	path = VideoCrafter/uvq
	url = https://github.com/google/uvq.git